In [1]:
import pandas as pd

In [2]:
import pandas as pd

<h2><center>Функция READ_CSV</center></h2>

In [3]:
def read_csv():
    df = pd.read_csv('../data/feed-views.log', sep='\t', names=['datetime', 'user'], index_col='datetime', engine='python', skiprows=[2, 3], skipfooter=2)
    return df

In [4]:
df = read_csv()

In [5]:
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [6]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

<h2><center>Функция замены названия колонки</center></h2>

In [7]:
def change_name(df):
    df.index.rename('date_time', inplace=True)
    return df

In [8]:
df = change_name(df)

In [9]:
print(df)

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

<h2><center>Функция TO_CSV</center></h2>

In [10]:
def to_csv(df):
    df.to_csv('../data/feed-views-semicolon.log', sep=';')

In [11]:
to_csv(df)

<h2><center>Тесты чек-листа</center></h2>

In [12]:
df.count()

user    1072
dtype: int64

In [13]:
df2 = pd.read_csv('../data/feed-views-semicolon.log', sep=';')

In [14]:
df2.head()

                    date_time    user
0  2020-04-17 12:01:08.463179   artem
1  2020-04-17 12:01:23.743946   artem
2  2020-04-17 12:35:52.735016   artem
3  2020-04-17 12:36:21.401412  oksana
4  2020-04-17 12:36:22.023355  oksana