In [1]:
import pandas as pd

In [2]:
import sqlite3

<h2><center>Соединение с БД</center></h2>

In [3]:
connection = sqlite3.connect('../data/checking-logs.sqlite')

<h2><center>Запросы к БД</center></h2>

In [4]:
pd.io.sql.read_sql('PRAGMA table_info(pageviews);', connection)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

In [5]:
pd.io.sql.read_sql("select * from pageviews", connection)

      index      uid                    datetime
0         0  admin_1  2020-04-17 12:01:08.463179
1         1  admin_1  2020-04-17 12:01:23.743946
2         2  admin_3  2020-04-17 12:17:39.287778
3         3  admin_3  2020-04-17 12:17:40.001768
4         4  admin_1  2020-04-17 12:27:30.646665
...     ...      ...                         ...
1075   1075  user_25  2020-05-21 23:23:49.995349
1076   1076  admin_1  2020-05-21 23:49:22.386789
1077   1077  admin_1  2020-05-22 10:36:14.662600
1078   1078   user_5  2020-05-22 11:30:18.368990
1079   1079  user_17  2020-05-22 18:22:22.847815

[1080 rows x 3 columns]

In [6]:
pd.io.sql.read_sql("select * from pageviews limit 1, 10", connection)

   index      uid                    datetime
0      1  admin_1  2020-04-17 12:01:23.743946
1      2  admin_3  2020-04-17 12:17:39.287778
2      3  admin_3  2020-04-17 12:17:40.001768
3      4  admin_1  2020-04-17 12:27:30.646665
4      5  admin_1  2020-04-17 12:35:44.884757
5      6  admin_1  2020-04-17 12:35:52.735016
6      7  admin_3  2020-04-17 12:36:21.401412
7      8  admin_3  2020-04-17 12:36:22.023355
8      9  admin_1  2020-04-17 13:55:19.129243
9     10  admin_1  2020-04-17 15:00:33.138530

In [7]:
pageviews = pd.io.sql.read_sql("select uid, datetime from pageviews where uid like '%user%' order by uid asc", connection, index_col='datetime', parse_dates='datetime')

In [8]:
pageviews.index

DatetimeIndex(['2020-04-26 21:53:59.624136', '2020-04-26 22:06:19.478143',
               '2020-04-26 22:12:09.614497', '2020-04-30 19:29:01.831635',
               '2020-05-05 20:26:32.894852', '2020-05-07 18:51:12.029577',
               '2020-05-11 21:56:54.292312', '2020-05-14 22:56:14.464582',
               '2020-05-14 23:59:38.758438', '2020-05-15 00:05:27.798227',
               ...
               '2020-05-19 11:42:52.923123', '2020-05-19 11:53:36.247138',
               '2020-05-19 11:55:47.392661', '2020-05-19 12:04:10.045383',
               '2020-04-17 22:46:26.785035', '2020-04-29 16:51:21.877630',
               '2020-05-09 20:30:47.034282', '2020-05-22 11:30:18.368990',
               '2020-05-21 16:28:28.217529', '2020-05-21 16:36:40.915488'],
              dtype='datetime64[ns]', name='datetime', length=987, freq=None)

<h2><center>Закрытие соединения с БД</center></h2>

In [9]:
connection.close()

In [10]:
pageviews.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 987 entries, 2020-04-26 21:53:59.624136 to 2020-05-21 16:36:40.915488
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uid     987 non-null    object
dtypes: object(1)
memory usage: 15.4+ KB