In [1]:
import pandas as pd

In [2]:
import sqlite3

<h2><center>Соединение с БД</center></h2>

In [3]:
connection = sqlite3.connect('../data/checking-logs.sqlite')

<h2><center>Запросы к БД</center></h2>

In [4]:
pd.io.sql.read_sql('PRAGMA table_info(checker);', connection)

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

In [5]:
pd.io.sql.read_sql('select * from checker limit 1, 10', connection)

,index,status,success,timestamp,numTrials,labname,uid
0,1,ready,0,2020-04-16 21:12:54.708365,5,code_rvw,admin_1
1,2,checking,0,2020-04-16 21:46:47.769088,7,None,admin_1
2,3,ready,0,2020-04-16 21:46:48.121217,7,lab02,admin_1
3,4,checking,0,2020-04-16 21:53:01.862637,6,code_rvw,admin_1
4,5,ready,0,2020-04-16 21:53:05.373389,6,code_rvw,admin_1
5,6,checking,0,2020-04-17 05:18:51.965864,1,None,None
6,7,ready,0,2020-04-17 05:19:02.744528,1,project1,user_4
7,8,checking,0,2020-04-17 05:22:35.249331,2,project1,user_4
8,9,ready,1,2020-04-17 05:22:45.549397,2,project1,user_4
9,10,checking,1,2020-04-17 05:34:14.691200,3,project1,user_4

In [6]:
checkers = pd.io.sql.read_sql("select count(uid) as cnt from pageviews where uid in (select uid from checker where status like '%ready%' \
and numTrials=1 and labname in ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1'))", connection)

In [7]:
checkers

   cnt
0  985

<h2><center>Закрытие соединения с БД</center></h2>

In [8]:
connection.close()