In [1]:
import pandas as pd

In [2]:
import sqlite3

<h2><center>Соединение с БД</center></h2>

In [3]:
connection = sqlite3.connect('../data/checking-logs.sqlite')

<h2><center>Запросы к БД</center></h2>

In [4]:
test_results = pd.io.sql.read_sql("select buf.time, avg(dif) as avg_diff from (select test.uid, \
                (deadlines.deadlines - strftime('%s', test.first_commit_ts)) / 3600 as dif, case \
                when test.first_commit_ts < test.first_view_ts then 'before' else 'after' end as time \
                from test left join deadlines on test.labname = deadlines.labs where test.labname not like 'project1' \
                ) as buf where (select count(*) from test where test.labname not like 'project1' and test.first_commit_ts < test.first_view_ts \
                and test.uid = buf.uid) > 0 and (select count(*) from test where test.labname not like 'project1' \
                and test.first_commit_ts > test.first_view_ts and test.uid = buf.uid) > 0 group by buf.time", connection)

In [5]:
test_results

     time  avg_diff
0   after  104.6000
1  before   60.5625

In [6]:
control_results = pd.io.sql.read_sql("select buf.time, avg(dif) as avg_diff from (select control.uid, \
                (deadlines.deadlines - strftime('%s', control.first_commit_ts)) / 3600 as dif, case \
                when control.first_commit_ts < control.first_view_ts then 'before' else 'after' end as time \
                from control left join deadlines on control.labname = deadlines.labs where control.labname not like 'project1' \
                ) as buf where (select count(*) from control where control.labname not like 'project1' and \
                control.first_commit_ts < control.first_view_ts \
                and control.uid = buf.uid) > 0 and (select count(*) from control where control.labname not like 'project1' \
                and control.first_commit_ts > control.first_view_ts and control.uid = buf.uid) > 0 group by buf.time", connection)

In [7]:
control_results

     time    avg_diff
0   after  117.636364
1  before   99.464286

<h2><center>Закрытие соединения с БД</center></h2>

In [8]:
connection.close()

<h2>Поскольку в тестовой группе разница существенно больше, чем в контрольной - гипотеза может быть верной </h2>