In [1]:
import pandas as pd

<h2><center>Создание dataframe</center></h2>

In [2]:
df = pd.read_csv('../data/auto.csv', index_col='ID')

In [3]:
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

In [5]:
df = df.drop_duplicates(['CarNumber', 'Make_n_model', 'Fines'], keep='last')

In [6]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

<h2><center>Работа с пропущенными значениями</center></h2>

In [7]:
pd.isna(df['CarNumber']).sum()

0

In [8]:
pd.isna(df['Make_n_model']).sum()

0

In [9]:
pd.isna(df['Refund']).sum()

12

In [10]:
pd.isna(df['Fines']).sum()

60

In [11]:
pd.isna(df['History']).sum()

660

In [12]:
df = df.dropna(thresh=500, axis=1)

In [13]:
df['Refund'].fillna(method='ffill', inplace=True)

In [14]:
pd.isna(df['Refund']).sum()

0

In [15]:
pd.isna(df['CarNumber']).sum()

0

In [16]:
pd.isna(df['Make_n_model']).sum()

0

In [17]:
pd.isna(df['Fines']).sum()

60

In [18]:
df.Fines.fillna(value=df.mean(numeric_only=True).Fines, inplace=True)

In [19]:
pd.isna(df['Refund']).sum()

0

In [20]:
pd.isna(df['CarNumber']).sum()

0

In [21]:
pd.isna(df['Make_n_model']).sum()

0

In [22]:
pd.isna(df['Fines']).sum()

0

In [23]:
df.head(30)

       CarNumber       Make_n_model  Refund          Fines
ID
0   Y163O8161RUS         Ford Focus     2.0    3200.000000
1    E432XX77RUS       Toyota Camry     1.0    6500.000000
2    7184TT36RUS         Ford Focus     1.0    2100.000000
3   X582HE161RUS         Ford Focus     2.0    2000.000000
5   92918M178RUS         Ford Focus     1.0    5700.000000
10  H234YH197RUS         Ford Focus     2.0    6000.000000
11  E40577152RUS         Ford Focus     1.0    8594.586466
12  707987163RUS         Ford Focus     2.0    2200.000000
13  K330T8197RUS      Skoda Octavia     2.0    8200.000000
14   X786CO96RUS         Ford Focus     1.0    8594.586466
15  C477M7161RUS         Ford Focus     1.0    2500.000000
16  O21997197RUS         Ford Focus     1.0    2000.000000
17  M592CH197RUS      Skoda Octavia     2.0    8594.586466
18  9020YC197RUS      Skoda Octavia     2.0  145000.000000
19  8182XX154RUS         Ford Focus     1.0     200.000000
20  7830C8197RUS         Ford Focus     2.0    8594.586466
22  7066C8197RUS  Volkswagen Passat     2.0   15000.000000
23  M298CH161RUS         Ford Focus     2.0    8594.586466
26  E445TC197RUS         Ford Focus     1.0    8594.586466
27  8440XX154RUS         Ford Focus     1.0    6200.000000
28  9371CE154RUS      Skoda Octavia     2.0    8594.586466
29  9182CE154RUS         Ford Focus     2.0   19800.000000
32  83298C154RUS         Ford Focus     2.0    8594.586466
33  Y7659C197RUS         Ford Focus     2.0    8594.586466
34  C922YE197RUS    Volkswagen Golf     2.0    3800.000000
37  7364C8197RUS         Ford Focus     2.0    8594.586466
39  M5039X197RUS         Volkswagen     2.0    7400.000000
40  8603T8154RUS         Ford Focus     1.0    1500.000000
43  92928M178RUS         Ford Focus     1.0    8594.586466
45  O672E8197RUS      Skoda Octavia     2.0   63300.000000

<h2><center>Split and parse and Make at Model</center></h2>

In [24]:
df[['Make', 'Model']] = df['Make_n_model'].str.split(' ', expand = True) # альтернативный способ, без apply, который нормально работает, а не вот эта гадость (работает в 84 раза быстрее)

In [25]:
df[['Make', 'Model']] = df.Make_n_model.apply(lambda x: x.split(' ')).apply(pd.Series)

In [26]:
df.head()

       CarNumber  Make_n_model  Refund   Fines    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0    Ford  Focus

In [27]:
df = df.drop(labels='Make_n_model', axis=1)

In [28]:
df.head(30)

       CarNumber  Refund          Fines        Make    Model
ID
0   Y163O8161RUS     2.0    3200.000000        Ford    Focus
1    E432XX77RUS     1.0    6500.000000      Toyota    Camry
2    7184TT36RUS     1.0    2100.000000        Ford    Focus
3   X582HE161RUS     2.0    2000.000000        Ford    Focus
5   92918M178RUS     1.0    5700.000000        Ford    Focus
10  H234YH197RUS     2.0    6000.000000        Ford    Focus
11  E40577152RUS     1.0    8594.586466        Ford    Focus
12  707987163RUS     2.0    2200.000000        Ford    Focus
13  K330T8197RUS     2.0    8200.000000       Skoda  Octavia
14   X786CO96RUS     1.0    8594.586466        Ford    Focus
15  C477M7161RUS     1.0    2500.000000        Ford    Focus
16  O21997197RUS     1.0    2000.000000        Ford    Focus
17  M592CH197RUS     2.0    8594.586466       Skoda  Octavia
18  9020YC197RUS     2.0  145000.000000       Skoda  Octavia
19  8182XX154RUS     1.0     200.000000        Ford    Focus
20  7830C8197RUS     2.0    8594.586466        Ford    Focus
22  7066C8197RUS     2.0   15000.000000  Volkswagen   Passat
23  M298CH161RUS     2.0    8594.586466        Ford    Focus
26  E445TC197RUS     1.0    8594.586466        Ford    Focus
27  8440XX154RUS     1.0    6200.000000        Ford    Focus
28  9371CE154RUS     2.0    8594.586466       Skoda  Octavia
29  9182CE154RUS     2.0   19800.000000        Ford    Focus
32  83298C154RUS     2.0    8594.586466        Ford    Focus
33  Y7659C197RUS     2.0    8594.586466        Ford    Focus
34  C922YE197RUS     2.0    3800.000000  Volkswagen     Golf
37  7364C8197RUS     2.0    8594.586466        Ford    Focus
39  M5039X197RUS     2.0    7400.000000  Volkswagen      NaN
40  8603T8154RUS     1.0    1500.000000        Ford    Focus
43  92928M178RUS     1.0    8594.586466        Ford    Focus
45  O672E8197RUS     2.0   63300.000000       Skoda  Octavia

<h2><center>Сохранение в JSON</center></h2>

In [29]:
df.to_json(path_or_buf='../data/auto.json', orient='records')

<h2><center>ТЕСТЫ ИЗ ЧЕКЛИСТА</center></h2>

In [31]:
df2 = pd.read_json('../data/auto.json', orient='records')

In [32]:
df2.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [33]:
df2['Fines'].mean()

8594.586466165412

In [34]:
df2['Refund'].mean()

1.5172413793103448